@model HelperTags.Models.Students
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <h1>This is About</h1>
        <h1>@Model.Course</h1>
        <h2>@Model.id</h2>
     
    </div>
</body>
</html>
