@model HelperTags.Models.Students


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexD</title>
</head>
<body>
    <div>
        <h1>
            @Html.DisplayForModel()
        </h1>

    </div>
</body>
</html>
