
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KeepData</title>
</head>
<body>
    <div> 
        <h1>KeepData Page</h1>
        @ViewBag.myprop
    </div>
</body>
</html>
